`Cookie` default value for `path` should be `None`, not `Some("/")`

The current default value for the `path` field for `Cookie` is `Some("/")`. I'm using this crate from a user agent perspective, and per [IETF RFC 6265 Section 5.1.4](http://tools.ietf.org/html/rfc6265#section-5.1.4), a user agent should set the path based on the request-uri if it is not set via the Path attribute; e.g. should be "/foo/bar" for a cookie resulting from a request to "http://example.com/foo/bar/" if no Path attribute is included. With the current behavior, it is impossible for client code to distinguish if the parsed cookie contained no Path attribute, or "; Path=/", and as such cannot know when to set it from the request-uri.

Oops, thanks for pointing this out!